PROJECT_NAME=Events API Agregator Service

LOG_FORMAT=json
LOG_HANDLERS=stdout
LOG_LEVEL=INFO
LOG_FILE_PATH=logs/app.log

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=agregator_service
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
