PROJECT_NAME=Events API Agregator Service

LOG_FORMAT=json
LOG_HANDLERS=stdout
LOG_LEVEL=INFO
LOG_FILE_PATH=logs/app.log

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE_NAME=agregator_service
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

EVENTS_PROVIDER_BASE_URL=http://events-provider.dev-2.python-labs.ru
EVENTS_PROVIDER_API_KEY=

SYNC_CRON_ENABLED=true
SYNC_CRON_HOUR=3
SYNC_CRON_MINUTE=0
SYNC_CRON_TIMEZONE=UTC